<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragment::headerfiles">
</head>
<body>
<div th:replace="fragment::navbar">

</div>
<br>
<br>
<br>
<div class="row register-form">
    <div class="col-md-8 offset-md-2">
        <form class="custom-form" th:action="@{/accounts/create_account}" th:object="${account}"
              method="post">
            <h1>Create Account</h1>
            <div th:if="${param.message}" th:text="${param.message}" class="alert alert-danger">
            </div>

            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label">Customer Id : </label></div>
                <div class="col-sm-4 input-column">
                    <div class="dropdown">
                        <select class="form-control form-control-sm" th:field="*{customerId}" id="customer_selection">
                            <option th:each="customer: ${customerList}" th:text="${customer.getCustomerId()}"
                                    th:value="${customer.customerId}">Customer Id
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label">Account Type</label></div>
                <div class="col-sm-4 input-column">
                    <div class="dropdown">
                        <select class="form-control form-control-sm" th:field="*{accountType}">
                            <option value="S">Savings</option>
                            <option value="C">Current</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label"
                                                          for="repeat-pawssword-input-field">Deposit Amount</label>
                </div>
                <div class="col-sm-6 input-column"><input name="balance" th:field="*{accountBalance}"
                                                          id="repeat-pawssword-input-field"
                                                          class="form-control" type="number"></div>
            </div>
            <button class="btn btn-light submit-button" type="submit">Create Account</button>
        </form>
    </div>
</div>
<br>
<br>
<div th:replace="fragment::footer">

</div>

</body>
</html>