<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragment::headerfiles">
</head>
<body>
<div th:replace="fragment::navbar-cashier">

</div>
<br>
<br>
<br>
<div class="row register-form">
    <div class="col-md-8 offset-md-2">
        <form class="custom-form"
              method="post">
            <h1>Deposit Money</h1>
            <div th:if="${param.message}" th:text="${param.message}" class="alert alert-primary">
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label">Account ID : </label></div>
                <div class="col-sm-4 label-column">
                    <input name="accountId" th:name="accountId" disabled
                           th:value="${accountId}"
                           id="accountId_box"
                           required
                           class="form-control" type="number">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label">Starting Date : </label></div>
                <div class="col-sm-4 label-column">
                    <input th:name="startDate"
                           id="startDate"
                           required
                           class="form-control date-picker" type="date">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label">Ending Date : </label></div>
                <div class="col-sm-4 label-column">
                    <input class="form-control date-picker" th:name="endDate"
                           type="date"
                           id="endDate"
                           required>
                </div>
            </div>
            <button class="btn btn-light submit-button" onclick="process()" type="button">Transfer Money</button>
        </form>
    </div>
</div>
<br>
<br>
<div id="statement">

</div>
<br>
<br>
<div th:replace="fragment::footer">

</div>
<script type="application/javascript">
    function process() {
        const startDatePicker = document.getElementById('startDate');
        const endDatePicker = document.getElementById('endDate');
        const accountIdBox = document.getElementById('accountId_box');
        const accId = accountIdBox.value;
        const startDate = startDatePicker.value;
        const endDate = endDatePicker.value;
        if (!!!startDate || !!!endDate)
            return;
        const url = '/accounts/statement_by_transaction_date_table/' + accId
            + '?start=' + startDate + '&end=' + endDate;
        //console.log(url);
        $("#statement").load(url);
        $('html,body').animate({
            scrollTop: $("#statement").offset().top
        }, 1000);
    }
</script>
</body>
</html>